body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(1,1,6,0.9192051820728291) 44%, rgba(0,0,0,1) 100%);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px
}
#offcanvasNavbar {
    background-color: rgba(26, 21, 21, 0.699);
    color: antiquewhite;
}
main {
    font-family: 'Oswald', sans-serif;
}

.carousel slide carousel-fade {
    height: 300px;
}

header {
    height: 100px;
}
main {
    font-family: 'Oswald', sans-serif;
}
#main-faq {
    height: 100vp;
}
#uplive-logo {
    width: 250px;
}
footer {
    background-color: rgba(0,0,0,0.5);
    font-family: 'Oswald', sans-serif;
}
#logo-footer{
    width: -webkit-fill-available;
}
#red-social {
    width: 10%;
}
.card {
    background-color: none;
}
